<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Librería Web</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Script-->
</head>

<body>
    <!--SECCIONES DEL BODY-->
    <!--header-->
    <h1 id="h1" class="container-fluid">Librería Web</h1>
    <!--navbar-->
    <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="/inicioAdm">
                <img id="icono1" src="/imagenes/estante-para-libros.ico">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 bg-theme">
                    <li class="nav-item">
                        <a id="navtexto" class="nav-link active" aria-current="page" href="/admLibros/guardarLibro">Libros</a>
                    </li>
                    <li class="nav-item">
                        <a id="navtexto" class="nav-link active" aria-current="page" href="/admAutores/guardarAutor">Autores</a>
                    </li>
                    <li class="nav-item">
                        <a id="navtexto" class="nav-link active" aria-current="page" href="/admEditoriales/guardarEditorial">Editoriales</a>
                    </li>
                    <li class="nav-item">
                      <a id="navtexto" class="nav-link active" aria-current="page" href="/inicioAdm#clientes">Clientes</a>
                  </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Buscar libro" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">🔍</button>
                </form>
            </div>
        </div>
    </nav>
    <!--main-->
    <main id="content" class="container-fluid">
        <h2>Administración de libros</h2>
         <div th:if="${exito}!=null" class="card text-white bg-success mb-3" >
                <div class="card-body">
                    <h5 class="card-title">Exito</h5>
                    <p class="card-text" th:text="${exito}"></p>
                </div>
            </div>
            <div th:if="${error}!=null" class="card text-white bg-danger mb-3" >
                <div class="card-body">
                    <h5 class="card-title">Error</h5>
                    <p class="card-text" th:text="${error}"></p>
                </div>
            </div>
        <!--section-->
        <h4>Ingresar nuevo libro</h4>
        <article class="container-fluid">
            <form action="guardarLibro" method="POST">
                <div class="mb-3">
                  <label class="form-label">ISBN</label>
                  <input type="number" class="form-control" placeholder="ISBN" name="isbn">
                </div>
                <div class="mb-3">
                    <label  class="form-label">Libro</label>
                    <input type="text" class="form-control" placeholder="Título del libro" name="titulo">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Año</label>
                    <input type="number" class="form-control" placeholder="Año de edición" name="anio">
                  </div>
                  <div class="mb-3">
                    <select class="form-select" name="autor">
                    <option selected>Seleccione un autor</option>
                    <option th:each="a: ${autor}" th:text="${a.getNombre()}"></option> 
                  </select>
                </div>
                <div class="mb-3">
                  <select class="form-select" name="editorial">
                    <option selected>Seleccione una editorial</option>
                    <option th:each="e: ${editorial}" th:text="${e.getNombre()}"></option>
                  </select>
                </div>
                <button type="submit" class="btn btn-secondary">Guardar</button>
              </form>
        </article>
        <!--article-->
        <div class="container-fluid">
        <h4>Listado de libros</h4>
         <a href="/admLibros/mostrarLibros" type="button" class="btn btn-secondary">Ver todos</a>
         </div>
        <article class="container-fluid">
            <table id="tabla" class="table" action="mostrarLibros" method="GET">
                <thead class="table-dark">
                  <tr>
                    <th th:text="${mensajeid}">ID</th>
                    <th scope="col" th:text="${mensajeisbn}">ISBN</th>
                    <th scope="col" th:text="${mensajeTitulo}">Titulo</th>
                    <th scope="col" th:text="${mensajeAnio}">Año</th>
                    <th scope="col" th:text="${mensajeEditar}">Editar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="l: ${libro}">
                    <th th:text="${l.getId()}"></th>
                    <td th:text="${l.getIsbn()}"></td>
                    <td th:text="${l.getTitulo()}"></td>
                    <td th:text="${l.getAnio()}"></td>
                    <td>
                        <a href="#" class="btn btn-secondary">Editar</a>
                    </td>
                  </tr>
                </tbody>
              </table>
        </article>
    </main>
    <!--footer-->
    <footer class="footer">
        <address>by Programación 🔟</address>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>